div {
  box-sizing: border-box;
}
.row {
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.row:after {

}
.element {
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
    width: 15%;
    float:left;

    float: none;
    display: inline-block;
              
}
.image {
    border: 10px solid blue;
    padding: 10px;
    margin: 10px;
}
.text {
    border: 10px solid red;
    padding: 10px;
    margin: 10px;
}

@media all and (min-width: 0px) {
    body{
        background: gren;
    }

    .element{
        width: 100%;
    }

}

@media all and (min-width: 530px) {
    body{
        background: red;
    }

    .element{
        width: 45%;
    }

}


@media all and (min-width: 800px) {
    body{
        background: pink;
    }

    .element{
        width: 30%;
    }

}

@media all and (min-width: 1024px) {
    body{
        background: yellow;
    }

    .element{
        width: 14%;
    }

}
